@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-white;
}
/* globals.css */
.auth-input {
  @apply w-full rounded-lg bg-white/20 p-3 outline-none placeholder-white/60;
}

.auth-button {
  @apply w-full rounded-lg bg-indigo-600 py-3 font-semibold hover:bg-indigo-500 transition;
}
